[workspace]
name = "robostack_ros2_dev"
description = "ROS 2 Development environment for macOS using RoboStack"
authors = ["ZhiangQi <an9qi@yandex.com>"]
channels = ["https://prefix.dev/conda-forge"] 
platforms = ["osx-arm64"]

[target.unix.activation]
# scripts = ["install/setup.bash"]

[feature.build.target.unix.tasks]
build = "colcon build --cmake-args -DCMAKE_EXPORT_COMPILE_COMMANDS=ON"

[dependencies]
compilers = "*"
cmake = "*"
pkg-config = "*"
make = "*"
ninja = "*"
colcon-common-extensions = "*"
rosdep = "*"
ceres-solver = ">=2.2.0,<3"
graphicsmagick = ">=1.3.45,<2"
lcov = ">=1.16,<2"
zeromq = ">=4.3.5,<5"
nanoflann = ">=1.6.1,<2"
types-pyyaml = ">=6.0.12.20250915,<7"
transforms3d = ">=0.4.2,<0.5"
eigen = ">=3.4.0,<4"
fmt = ">=11.2.0,<12"
spdlog = ">=1.15.3,<2"
numpy = ">=1.26.4,<2"
setuptools = ">=80.9.0,<81"
wheel = ">=0.45.1,<0.46"

[environments]
default = { features = ["humble", "build"] } 
humble = { features = ["humble", "build"] }
jazzy = { features = ["jazzy", "build"] }

[feature.humble]
channels = ["https://prefix.dev/robostack-humble", "https://prefix.dev/conda-forge"]

[feature.humble.dependencies]
ros-humble-desktop = "*"
ros-humble-rmw-cyclonedds-cpp = "*"
ros-humble-navigation2 = ">=1.1.18,<2"
ros-humble-nav2-bringup = ">=1.1.18,<2"
ros-humble-turtlebot3-gazebo = ">=2.3.4,<3"
ros-humble-tf-transformations = ">=1.1.0,<2"
transforms3d = ">=0.4.2,<0.5"
ros-humble-behaviortree-cpp-v3 = ">=3.8.7,<4"
ros-humble-diagnostic-updater = ">=4.0.6,<5"
ros-humble-geographic-msgs = ">=1.0.6,<2"
ros-humble-robot-localization = ">=3.5.3,<4"
ros-humble-bondcpp = ">=4.1.2,<5"
ros-humble-ompl = ">=1.7.0,<2"
ros-humble-test-msgs = ">=1.2.1,<2"
ros-humble-angles = ">=1.15.0,<2"
pip = ">=25.3,<26"
wheel = ">=0.45.1,<0.46"
ros-humble-fastcdr = ">=1.0.24,<2"
ros-humble-xacro = ">=2.0.13,<3"

[feature.jazzy]
channels = ["https://prefix.dev/robostack-jazzy", "https://prefix.dev/conda-forge"]

[feature.jazzy.dependencies]
ros-jazzy-desktop = "*"
ros-jazzy-rmw-cyclonedds-cpp = "*"
